header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.root-solar-logo {
    font-size: 1.25em;
    height: 1em;
    width: 1em;
    flex: 0 0 auto;
    circle {
        fill: #cf0;
        r: 0.5em;
        cx: 0.5em;
        cy: 0.5em;
    }
}
