* {
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
}
body,
html {
    font-family: "DejaVu Sans", "Bitstream Vera Sans", "Verdana";
    position: relative;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

main {
    flex: 1 0 auto;
    background-color: #ccc;
}

#root > * {
    padding-block: 8px;
    padding-inline: max(calc(50% - 512px), 10px);
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
